@import url('../Font/Poppins.ttf');

body {
  font-family: Poppins;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.BGImage {
  width: 1920px;
  height: 1080px;
  background: url("../images/Background.png");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}

.FadeIn {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5 ease-in-out;
}

.SmoothWidth {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5 ease-in-out;
}

.F500 {
  font-weight: 500;
}

.F700 {
  font-weight: 700;
}

.White {
  color: white;
}

.Txt13 {
  font-size: 13px;
}

.Txt15 {
  font-size: 15px;
}

.Txt20 {
  font-size: 20px;
}

.W340 {
  width: 340px;
  max-width: 340px;
}

.Fade {
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.ScoringShadow {
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
}

/* PlayerContainers */

.PlayerContainers {
  position: absolute;
  left: 35px;
  top: 35px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-in;
  width: 1845px;
}

.Player1Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Player1Image {
  width: 80px;
  height: 80px;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 50%);
  background: linear-gradient(180deg, #ff6161, #DF8585) border-box;
  border: 3px solid transparent;
  border-radius: 15px;
  margin-right: 11px;
}

.Player1Name {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgb(61, 37, 87);
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  z-index: 5;
}

.Player1Score {
  min-width: 48px;
  background: #251932;
  color: rgb(255 255 255 / 93%);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  z-index: 5;
}

.Player1Replay {
  padding-left: 17px;
  padding-right: 17px;
  background: #1c1326;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player1Goal {
  position: absolute;
  top: -14px;
  left: 97px;
  opacity: 0;
  padding-left: 13px;
  padding-right: 13px;
  background: #4b3563;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2Container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Player2Replay {
  padding-left: 17px;
  padding-right: 17px;
  background: #1c1326;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2Goal {
  position: absolute;
  top: -14px;
  right: 97px;
  opacity: 0;
  padding-left: 13px;
  padding-right: 13px;
  background: #4b3563;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2Score {
  min-width: 48px;
  background: #251932;
  color: rgb(255 255 255 / 93%);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  z-index: 5;
}

.Player2Name {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: rgba(61, 37, 87, 0.986);
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  z-index: 5;
}

.Player2Image {
  width: 80px;
  height: 80px;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 50%);
  background: linear-gradient(165deg, #7070ff, #cc7ffc) border-box;
  border: 3px solid transparent;
  border-radius: 15px;
  margin-left: 11px;
}

/* (Totally not) Pokemon Team */

/* Pokemon bar */

.PokemonBar {
  position: absolute; /* Hawk did a funny, so we're doing absolutes :D */
  height: 56px;
  width: 337px; /* Adjust the width of the bar as needed */
  max-width: 337px; /* Set the max-width, so PokemonBar1 and 2 don't exceed limits */
  background-color: rgba(209, 209, 209, 0.37); /* Set the background */
  display: flex; /* Flex the div, so we don't need to do a lot of singular padding/placements */
  align-content: center; /* Align everything towards the horizontal center */
  flex-wrap: wrap; /* Wrap so we can use align-content without problems */
  gap: 14px; /* Set the gap between the Pokemon, so we don't have to use singular placements! */
}

.PokemonBar1 {
  width: 50%; /* Set max-width, so display flex and flex-row */
  padding-left: 10px; /* Add padding to the left, so the PokemonBar1 doesn't touch the edge */
  top: 110;
  left: 131;
  bottom: 0;
}

.PokemonBar2 {
  direction: rtl; /* Reverse the direction of the flex, so captain ends on right side */
  width: 50%; /* Set max-width, so display flex and flex-row */
  padding-right: 10px; /* Add padding to the right, so the PokemonBar2 doesn't touch the edge */
  top: 110;
  right: 136;
  bottom: 0;
}

.Revive {
  position: absolute;
  scale: 0.01;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

/* CapTeam Divider */
.CapTeamDivider { /* Divider to split the captain from the */
  width: 2px;
  height: 42px;
  background-color: white;
}

/* Pokemon */
.PokemonImage {
  padding: 2px; /* Add padding to the image, so it doesn't touch the border */
  width: 40px; /* Set the width of the image */
  height: 40px; /* Set the height of the image */
  box-shadow: 3px 6px 6px 1px rgb(0 0 0 / 50%);
  background: linear-gradient(180deg, #ff6161, #DF8585);
  /* border: 3px solid transparent; */ /* I removed this, as it caused squaring off of the background fade */
  border-radius: 100%;
  box-sizing: border-box; /* Ensure box sizing includes padding and borders */
}

.PokemonImage img {
  width: 100%; /* Make sure the image takes up 100% of the container */
  height: 100%;
  border-radius: 100%; /* Ensure the image itself is circular */
}

/* Team 1*/

/*Team 1 captain*/
.Larry1 {
  background: linear-gradient(180deg, #ff6161, #DF8585);
}

.Larry1 img {
  width: 100%; /* Make sure the image takes up 100% of the container */
  height: 100%;
  border-radius: 100%; /* Ensure the image itself is circular */
}

/*Team 1 revive */
.ReviveLeft {
  position: absolute;
  top: -750px;
  left: -455px;
}

/*Team 1 revive */
.ReviveRight {
  position: absolute;
  top: -750px;
  right: -455px;
  transform: scaleX(-1); /* Flip the revive image, so it's facing the right way */
}

/*Team 1 players*/

.Pikachu1 { /* Playing */
  background: linear-gradient(180deg, #64fc5f, #85df89);
}

.Tsareena1 { /* Alive */
  background: linear-gradient(180deg, #32b1fa, #356dc0);
}

.Tinkaton1 { /* Alive */
  background: linear-gradient(180deg, #32b1fa, #356dc0);
}

.Probopass1 { /* Alive */
  background: linear-gradient(180deg, #32b1fa, #356dc0);
}

.Fuecoco1 { /* Dead */
  background: linear-gradient(180deg, #ff6161, #DF8585);
  opacity: 0.5;
}

.Location1Left {
}

.Location2Left {
}

.Location3Left {
}

.Location4Left {
}

.Location5Left {
}

/*Team 2 players*/

/* Person currently playing */
.Pikachu2 { /* Playing */
  background: linear-gradient(180deg, #64fc5f, #85df89);
}

.Tsareena2 { /* Alive */
  background: linear-gradient(180deg, #32b1fa, #356dc0);
}

.Tinkaton2 { /* Alive */
  background: linear-gradient(180deg, #32b1fa, #356dc0);
}

.Probopass2 { /* Alive */
  background: linear-gradient(180deg, #32b1fa, #356dc0);
}

.Fuecoco2 { /* Dead */
  background: linear-gradient(180deg, #ff6161, #DF8585);
  opacity: 0.5;
}

.Location1Right {
}

.Location2Right {
}

.Location3Right {
}

.Location4Right {
}

.Location5Right {
}

/*Move pokemon*/

.movablePokemon {
  transition: all 0.5s ease-in-out;
}

/* Score Bounds | FC, Combo, ACC */

.PlayerBounds {
  width:1920px;
  height:1080px;
  opacity: 0;
  display: flex;
  justify-content: center;
  margin-top: 783px;
  gap: 43px;
}

.Player1Class {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  width: 200px;
}

.Player1PlayingName {
  position: absolute;
  line-height: 0px;
  margin: 0px;
  font-size: 32px;
  font-weight: 900;
  top: 210px;
}

.Player1FC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 36px;
  font-size: 32px;
  font-weight: 900;
}

.Player1Combo {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 47px;
  font-size: 32px;
  font-weight: 900;
}

.Player1ACC {
  line-height: 0px;
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
}

.Player2Class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  width: 200px;
}

.Player2FC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 36px;
  font-size: 32px;
  font-weight: 900;
}

.Player2PlayingName {
  position: absolute;
  line-height: 0px;
  margin: 0px;
  font-size: 32px;
  font-weight: 900;
  top: 210px;
}

.Player2Combo {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 47px;
  font-size: 32px;
  font-weight: 900;
}

.Player2ACC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

/* Tug Of War */

.TugOfWar {
  display: flex;
  opacity: 0;
  position: absolute;
  bottom: 168px;
}

.LeftTugOuter {
  direction: rtl;
  width: 960px;
  max-width: 960px;
}

.LeftTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(90deg, rgba(255, 97, 97, 1), rgba(223.12, 132.95, 132.95, 1));
}

.RightTugOuter {
  direction: ltr;
  width: 960px;
  max-width: 960px;
}

.RightTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(-90deg, rgba(204, 127, 252, 1),rgba(112, 112, 255, 1));
}

/* Song Card */

#Song {
  width: 1164px;
  max-width: 1164px;
  max-height: 690px;
  display: flex;
  gap: 15px 59px;
  flex-wrap: wrap;
  overflow: hidden;
  opacity: 1;
  transition: all 0.1s linear;
}

.SongCard {
  height: 125px;
  width: 550px;
  max-height: 125px;
  max-width: 550px;
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 675px;

}

.SongCover {
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  width: 550px;
  height: 125px;
  border-radius: 15px;
  opacity: 0.5;
}

.BlurBox {
  position: relative;
  top: -125px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: #0000007a;
  width: 550px;
  height: 125px;
  border-radius: 14px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.SongBox {
  display: flex;
  position: relative;
  top: -247px;
  left: 4px;
  gap: 11px;
}

.SongBoxBG {
  top: 5px;
  left: 5px;
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  min-width: 116px;
  min-height: 116px;
  border-radius: 15px;
  opacity: 0.9;
  transition: all 0.5s ease;
}

.SongInfoLeft {
  margin-top: -6px;
}

.SongArtist {
  margin-bottom: -23px;
}

.SongName {
  margin-bottom: -18px;
}

.SongMapper {
  margin-bottom: 3px;
}

.Tags {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  height: 26px;
}

.DiffBox {
  background: rgb(0, 128, 85);
  width: 67px;
  max-width: 67px;
  height: 26px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
}

.DiffName {
  text-align: center;
}

.ModifiersBox {
  background: rgb(0, 128, 85);
  height: 26px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  opacity: 0;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
}

.ModifiersText {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-weight: 500;
}

.SongInfoRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 50px;
}

.SongKey {
  margin-top: 12px;
  margin-bottom: 2px;
}

.SongPicker {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 48px;
  height: 48px;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
  border-radius: 15px;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.SongLength {
  color: white;
  margin-top: 4px;
  font-size: 13px;
}

/* Round Box */

.RoundBox {
  position: absolute;
  right: 40px;
  bottom: 65px;
  display: flex;
}

.TextBox {
  transition: all 0.5s ease-in-out;
  background-color: #5D4478;
  height: 46px;
  direction: rtl;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
}

.RoundText {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.Logo {
  height: 46px;
  width: 46px;
  background-color: #251932;
}

.LogoImage {
  height: 100%;
  width: auto;
}