@import url('../Font/Poppins.ttf');

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  overflow: hidden;
}

.BGImage {
  width: 1920px;
  height: 1080px;
  background: url("../images/Background.png");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}

.fade-inImages {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5 ease-in-out;
}

.F500 {
  font-weight: 500;
}

.F700 {
  font-weight: 700;
}

.White {
  color: white;
}

.Txt13 {
  font-size: 13px;
}

.Txt15 {
  font-size: 15px;
}

.Txt20 {
  font-size: 20px;
}

.W340 {
  width: 340px;
  max-width: 340px;
}
.W310 {
  width: 310px;
  max-width: 310px;
}

.Fade {
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

/* PlayerContainers */

.PlayerContainers {
  position: absolute;
  left: 515px;
  top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 161px;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.Player1Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  min-width: 600px;
}

.Player1Image {
  width: 80px;
  height: 80px;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 50%);
  background: linear-gradient(180deg, #ff6161, #DF8585) border-box;
  border: 3px solid transparent;
  transition: all 0.5s ease-in;
  border-radius: 15px;
  margin-right: 11px;
}

.Player1Name {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 7px;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: rgb(61, 37, 87);
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  z-index: 5;
}

.Player1Score {
  min-width: 48px;
  background: #251932;
  color: rgb(255 255 255 / 93%);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  z-index: 5;
}

.Player1Replay {
  padding-left: 17px;
  padding-right: 17px;
  background: #1c1326;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2Container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
  min-width: 600px;
}

.Player2Replay {
  padding-left: 17px;
  padding-right: 17px;
  background: #1c1326;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2Score {
  min-width: 48px;
  background: #251932;
  color: rgb(255 255 255 / 93%);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  z-index: 5;
}

.Player2Name {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 7px;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(61, 37, 87, 0.986);
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  z-index: 5;
}

.Player2Image {
  width: 80px;
  height: 80px;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 50%);
  background: linear-gradient(165deg, #7070ff, #cc7ffc) border-box;
  border: 3px solid transparent;
  transition: all 0.5s ease-in;
  border-radius: 15px;
  margin-left: 11px;
}

/* Song Cards */
#WrapperTemplate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1320px;
  justify-content: center;
}

#Songs {
  position: absolute;
  top: 86px;
  left: 515px;
  width: 1294px;
  max-width: 1314px;
  max-height: 690px;
  display: flex;
  gap: 1px 45px;
  flex-wrap: wrap;
  overflow: visible;
  opacity: 0;
  transition: all 0.1s linear;
  justify-content: center;
}

.SongCard {
  width: 520px;
  max-height: 114px;
  opacity: 0;
}

.SongCover {
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  width: 520px;
  height: 112px;
  border-radius: 15px;
  opacity: 0.5;
}

.BlurBox {
  position: relative;
  top: -112px;
  backdrop-filter: blur(10px);
  background: #0000007a;
  width: 520px;
  height: 112px;
  border-radius: 14px;
  transition: all 0.5s ease;
}

.SongBox {
  display: flex;
  position: relative;
  top: -221px;
  left: 4px;
  gap: 11px;
}

.SongBoxBG {
  top: 5px;
  left: 5px;
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  width: 105px;
  height: 105px;
  border-radius: 15px;
  opacity: 0.9;
  transition: all 0.5s ease;
}

.SongInfoLeft {
  /* margin-top: -6px; */
}

.SongArtist {
  /* line-height: 20px; */
  padding: 0;
  margin: 0;
}

.SongName {
  margin-bottom: -18px;
  padding: 0;
  margin: 0;
}

.SongMapper {
  margin-bottom: 3px;
  padding: 0;
  margin: 0;
}

.Tags {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.DiffBox {
  background: rgb(0, 128, 85);
  width: 67px;
  max-width: 67px;
  height: 26px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
}

.DiffName {
  text-align: center;
}

.ModifiersBox {
  background: rgb(0, 128, 85);
  height: 26px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  opacity: 0;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
}

.ModifiersText {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-weight: 500;
}

.SongInfoRight {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 50px;
  right: 20px;
  top: 4px;
}

.SongKey {
  margin-top: 3px;
  margin-bottom: 2px;
}

.SongPicker {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 48px;
  height: 48px;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
  border-radius: 15px;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.SongLength {
  color: white;
  margin-top: 2px;
  font-size: 13px;
}

/* Round Box */

.RoundBox {
  position: absolute;
  right: 40px;
  bottom: 65px;
  display: flex;
}

.TextBox {
  transition: all 0.5s ease-in-out;
  background-color: #5D4478;
  height: 46px;
  direction: rtl;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
}

.RoundText {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.Logo {
  height: 46px;
  width: 46px;
  background-color: #251932;
}

.LogoImage {
  height: 100%;
  width: auto;
}