* {
  box-sizing: border-box;
}
.BGImage {
  width: 100%;
  height: 100%;
  background: url("../Images/Background.png");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}
#CountdownDiv {
  text-align: center;
  padding: 0% 42%;
  margin-top: 20%;
  transition: opacity 0.5s linear;
}
.Logo {
  margin-top: 160px;
  width: 250px;
  height: 250px;
  background: url("../images/Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.SongTitle {
  width: 30%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 980px;
  left: 24px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.CountdownClock {
  color: rgba(255,255,255,1);
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 1);
  font-family: Roboto, monospace;
  font-size: 128px;
  font-weight: 800;
  transition: opacity 0.5s linear;
  padding-top: 25%;
}
.SongScroller {
  -webkit-mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
}
.CountdownBar {
  box-shadow: 1px 1px 13px rgb(0 0 0);
  max-width: 100%;
  width: 100%;
  height: 10px;
  background-color: white;
  transition: width 1s;
  border-radius: 41px;
  margin-top: -100px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}